<div class="user_profile text-center bg-light text-dark py-3">
    <h3 class="mb-0 fw-bold text-center">Rajesh Wankhade</h3>
    <small>Last Login: 12 Feb 2024, 18:42</small>
</div>

<div class="side_nav">
    <ul>
        <li><a routerLink="">Saving Account</a></li>
        <li><a routerLink="">Current Account</a></li>
        <li><a routerLink="">Cards</a></li>
        <li><a routerLink="">Loans</a></li>
        <li><a routerLink="">Bills Payments</a></li>
        <li><a routerLink="">Investment</a></li>
        <li><a routerLink="">Services</a></li>
        <li><a routerLink="">Apply</a></li>
    </ul>
</div>





