<app-breadcrumbs></app-breadcrumbs>


 
<div class="card p-3">
    <ul class="nav nav-pills mb-3 gap-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active btn_bank" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Saving Account</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn_bank" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">XXXX XXXX 8745</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn_bank" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">XXXX XXXX 4522</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn_bank" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">XXXX XXXX 1648</button>
        </li>
      </ul>
</div> <!--end -->


<div class="card p-3 mt-3">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <app-account-holder></app-account-holder>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <app-account-holder></app-account-holder>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <app-account-holder></app-account-holder>
        </div>
        <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
            <app-account-holder></app-account-holder>
        </div>
      </div>
</div>