<div class="row">
    <div class="col-lg-7">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <h2 class="mb-0 fw-bold">XXXX XXXX 1648</h2>
                <h5>Account Number</h5>
            </div>
            <div class="col-lg-4 float-end">
                <div class="float-end">
                    <h2 class="mb-0 fw-bold">Rs.12,48,970.00</h2>
                    <h5>Available Balance</h5>
                </div>
            </div>
        </div>

        <div class="ac_holder">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    <h2 class="mb-0"><i class="ri-bank-line"></i></h2>
                    Account Details
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    <h2 class="mb-0"><i class="ri-money-rupee-circle-line"></i></h2>
                    Recent Transactions
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                    <h2 class="mb-0"><i class="ri-mail-download-line"></i></h2>
                    Statement
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">
                    <h2 class="mb-0"><i class="ri-exchange-dollar-line"></i>  </h2>
                    Fund Trasfer
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="row justify-content-between p-3">
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer Name</h3>
                                <h3 class="mb-0 fw-bold">Rajesh Wankhade</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Name</h3>
                                <h3 class="mb-0 fw-bold">Moti Nagar, Delhi</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Bank Id/Code</h3>
                                <h3 class="mb-0 fw-bold">UIB00587272</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">OD Limit</h3>
                                <h3 class="mb-0 fw-bold">Rs.1,00000,00</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer ID</h3>
                                <h3 class="mb-0 fw-bold">8745879</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Code</h3>
                                <h3 class="mb-0 fw-bold">SJ0354</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Currency</h3>
                                <h3 class="mb-0 fw-bold">INR</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Float Amount</h3>
                                <h3 class="mb-0 fw-bold">Rs.0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="row justify-content-between p-3">
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer Name</h3>
                                <h3 class="mb-0 fw-bold">Rajesh Wankhade</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Name</h3>
                                <h3 class="mb-0 fw-bold">Moti Nagar, Delhi</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Bank Id/Code</h3>
                                <h3 class="mb-0 fw-bold">UIB00587272</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">OD Limit</h3>
                                <h3 class="mb-0 fw-bold">Rs.1,00000,00</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer ID</h3>
                                <h3 class="mb-0 fw-bold">8745879</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Code</h3>
                                <h3 class="mb-0 fw-bold">SJ0354</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Currency</h3>
                                <h3 class="mb-0 fw-bold">INR</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Float Amount</h3>
                                <h3 class="mb-0 fw-bold">Rs.0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <div class="row justify-content-between p-3">
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer Name</h3>
                                <h3 class="mb-0 fw-bold">Rajesh Wankhade</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Name</h3>
                                <h3 class="mb-0 fw-bold">Moti Nagar, Delhi</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Bank Id/Code</h3>
                                <h3 class="mb-0 fw-bold">UIB00587272</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">OD Limit</h3>
                                <h3 class="mb-0 fw-bold">Rs.1,00000,00</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer ID</h3>
                                <h3 class="mb-0 fw-bold">8745879</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Code</h3>
                                <h3 class="mb-0 fw-bold">SJ0354</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Currency</h3>
                                <h3 class="mb-0 fw-bold">INR</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Float Amount</h3>
                                <h3 class="mb-0 fw-bold">Rs.0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                    <div class="row justify-content-between p-3">
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer Name</h3>
                                <h3 class="mb-0 fw-bold">Rajesh Wankhade</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Name</h3>
                                <h3 class="mb-0 fw-bold">Moti Nagar, Delhi</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Bank Id/Code</h3>
                                <h3 class="mb-0 fw-bold">UIB00587272</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">OD Limit</h3>
                                <h3 class="mb-0 fw-bold">Rs.1,00000,00</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-2">
                                <h3 class="mb-0">Customer ID</h3>
                                <h3 class="mb-0 fw-bold">8745879</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Branch Code</h3>
                                <h3 class="mb-0 fw-bold">SJ0354</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Currency</h3>
                                <h3 class="mb-0 fw-bold">INR</h3>
                            </div>
                            <div class="mb-2">
                                <h3 class="mb-0">Float Amount</h3>
                                <h3 class="mb-0 fw-bold">Rs.0.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>