/* You can add global styles to this file, and also import other style files */
@import url(remixicon/fonts/remixicon.css);

html, body { height: 100%; }
body { margin: 0; background-color: #f4f4f4; font-family: Roboto, "Helvetica Neue", sans-serif; }
